<h2>Stripe</h2>
<div class="stripe">
  <span class="stripe-subtext">1234567</span> John Brown
</div>
<pre>
  <code class="language-markup">
  <div class="stripe">
    <span class="stripe-subtext">1234567</span> John Brown
  </div>
  </code>
</pre>
