<!-- Breadcrumbs -->
<div class="row">
  <div class="col-xs-12">
    <div class="breadcrumbs">
      <ol>
        <li><a href="index.html">GOV.UK Bootstrap</a></li>
        <li>Content</li>
      </ol>
    </div>
  </div>
</div>

<!-- Heading -->
<div class="row">
  <div class="col-xs-8">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">GOV.UK Bootstrap</span>
      Content
    </h1>
    <p class="lead">Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes, and an advanced grid system.</p>
  </div>
</div>

<!-- Navigation -->
<div class="row">
  <div class="col-sm-4">
    <h2 class="heading-medium">
      <a href="">Typography</a>
    </h2>
    <p>Headings, body copy, inline text elements, alignment classes, transformation classes, abbreviations, addresses, blockquote and lists.</p>
  </div>
  <div class="col-sm-4">
    <h2 class="heading-medium">
      <a href="">Colour</a>
    </h2>
    <p>Colour contrast, Sass variables, colour palettes.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <h2 class="heading-medium">
      <a href="">Code</a>
    </h2>
    <p>Inline, user input, basic block, variables and a sample output</p>
  </div>
  <div class="col-sm-4">
    <h2 class="heading-medium">
      <a href="">Tables</a>
    </h2>
    <p>Basic example, striped rows, bordered table, hover rows, condensed table, contextual classes and responsive tables.</p>
  </div>
  <div class="col-sm-4">
    <h2 class="heading-medium">
      <a href="">Forms</a>
    </h2>
    <p>Basic example, inline form, horizontal form, supported control, static control, focus state, disabled state, readonly state, help text, validation states and control sizing</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <h2 class="heading-medium">
      <a href="">Buttons</a>
    </h2>
    <p>Button tags, options, sizes, active state and disabled state.</p>
  </div>
</div>
