<!-- Breadcrumbs -->
<div class="row">
  <div class="col-xs-12">
    <div class="breadcrumbs">
      <ol>
        <li><a href="index.html">GOV.UK Bootstrap</a></li>
        <li>Layout</li>
      </ol>
    </div>
  </div>
</div>

<!-- Heading -->
<div class="row">
  <div class="col-xs-8">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">GOV.UK Bootstrap</span>
      Layout
    </h1>
    <p class="lead">GOV.UK Bootstrap includes several components and options for laying out your project, including wrapping containers, a powerful grid system, a flexible media object, and responsive utility classes.</p>
  </div>
</div>

<!-- Navigation -->
<div class="row">
  <div class="col-sm-4">
    <h2 class="heading-medium">
      <a href="layout_grid_system.html">Grid System</a>
    </h2>
    <p>Global CSS settings, extensible classes, and an advanced grid system.</p>
  </div>
  <div class="col-sm-4">
    <h2 class="heading-medium">
      <a href="">Fluid admin layout example</a>
    </h2>
    <p>An example of a fluid administration layout.</p>
  </div>
</div>
